/* p{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: white;
    color: black; 
} */
body{
    background-color: rgb(202, 199, 199)

}
#hello{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(163, 163, 201);
    color: black;
}
.main{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(26, 27, 26);
    color: rgb(192, 192, 206);
}

